<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>prk_ii_prehrana</display-name>
	<welcome-file-list>
		<welcome-file>/faces/index.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Image Servlet</servlet-name>
		<servlet-class>si.um.feri.prk.servleti.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Image Servlet</servlet-name>
		<url-pattern>/faces/ImageServlet</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<display-name>c01</display-name>
		<web-resource-collection>
			<web-resource-name>strokovnjak</web-resource-name>
			<url-pattern>/faces/vnos-prehrane.xhtml</url-pattern>
			<url-pattern>/faces/objava-recepta.xhtml</url-pattern>
			<url-pattern>/faces/dodajanje-sestavin-za-recept.xhtml</url-pattern>
			<url-pattern>/faces/vnos-programa.xhtml</url-pattern>
			<url-pattern>/faces/urejanje-programa.xhtml</url-pattern>
			<url-pattern>/faces/objava-clanka.xhtml</url-pattern>
			<url-pattern>/faces/dnevnik.xhtml</url-pattern>
			<url-pattern>/faces/urejanje-recepta.xhtml</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>STROKOVNJAK</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>c01</display-name>
		<web-resource-collection>
			<web-resource-name>posameznik</web-resource-name>
			<url-pattern>/faces/vnos-programa.xhtml</url-pattern>
			<url-pattern>/faces/urejanje-programa.xhtml</url-pattern>
			<url-pattern>/faces/objava-clanka.xhtml</url-pattern>
			<url-pattern>/faces/dnevnik.xhtml</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>POSAMEZNIK</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>c01</display-name>
		<web-resource-collection>
			<web-resource-name>login</web-resource-name>
			<url-pattern>/faces/login.xhtml</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>prk_ii_prehrana</realm-name>
		<form-login-config>
			<form-login-page>/faces/login.xhtml</form-login-page>
			<form-error-page>/faces/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>ADMINISTRATOR</role-name>
	</security-role>
	<security-role>
		<role-name>STROKOVNJAK</role-name>
	</security-role>
	<security-role>
		<role-name>POSAMEZNIK</role-name>
	</security-role>
	<security-role>
		<role-name>readonly</role-name>
	</security-role>
	<listener>
		<listener-class>si.um.feri.prk.blockchain.BlockStorage</listener-class>
	</listener>
	<error-page>
		<error-code>404</error-code>
		<location>/faces/404.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/faces/500.xhtml</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/faces/403.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/faces/500.xhtml</location>
	</error-page>
</web-app>